<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/img/data/digital/digital.css">
    <title>sobok</title>
    <style>
        a{
            color: #000000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <br />
    <div id="textchang">
        <h2 id="kyoyook">코웨이, G마켓-옥션과 취약계층 아동 의료비 지원 기부 캠페인 진행</h2>
        <p id="text1">* 코웨이와 G마켓-옥션, 초록우산 어린이재단이 취약계층 아동 지원을 위해 기획한 캠페인</p>
        <p id="text1">* 취약계층 아동 신학기 지원과 보육비 지원 기부에 이어 세번째로 진행되는 기부 캠폐인</p>
        <p id="text1">* 기부금 적립은 코웨이 정수기, 공기청정기, 비데, 매트리스 등 코웨이 전 제품에 적용</p>
    </div>
    <button><a href="https://www.intn.co.kr/news/articleView.html?idxno=2024571">상세자료</a></button>
</body>
</html>