<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/img/data/digital/digital.css">
    <title>sobok</title>
    <style>
        a{
            color: #000000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 id="kiosk">올겨울 에너지 취약계층을 이렇게 지원합니다.</h1>
        <div id="textchang">
            <h2 id="kyoyook">1. 취약계층</h2>
            <p id="text1">* 에너지 바우처 : 기초생활수급가구 중 노인, 장애인, 영유아 등 더위 및 추위 민감 계층 -> 304000원</p> 
            <p id="text1">* 가스 및 열요금 할인 : 기초생활수급가구, 차상위가구 -> 최대 592000원</p>
            <p id="text1">* 등유 및 LPG 난방비 : 기초생활수급가구, 차상위가구 -> 최대 592000원</p>
            <p id="text1">* 등유바우처 : 등유 사용 생계 및 의료 수급자 중 한부모가정, 소년 및 소녀가정 -> 세대당 641000원</p>
            <p id="text1">* 연탄쿠폰 : 연탄 사용 기초생활수급가구, 차상위가구 독거노인 -> 세대당 546000원</p>
            <p id="text1">* 효율개선 지원 : 고효율 조명 및 기기 보급 물량 확대, 단열 및 창호교체 등 주택 효율개선</p>

        </div>
        <br />
        <div id="textchang">
            <h2 id="kyoyook">2. 소상공인</h2>
            <p id="text1">* 에너지 효율 혁신 : 냉방기 및 난방기, 히트펌프 등을 고효율 기기로 교체 지원</p>
            <p id="text1">* 요금 분할납부 : 겨울철 사용분 도시가스 요금에 대한 월 청구 요금을 각각 4개월간 균등 분할납부</p>
        </div>
        <br />
        <div id="textchang">
            <h2 id="kyoyook">3. 사회복지시설</h2>
            <p id="text1">* 경로당 : 전국 경로당에 월 400000원 지원</p>
            <p id="text1">* 어린이집 : 올 겨울부터 사회복지시설 도시가스 요금 경감 대상에 어린이집 포함</p>
            <p id="text1">* 기타 시설 : 국비지원 사회복지시설 난방비를 지난해와 같은 수준인 월 300000 ~ 1000000원 지원</p>
        </div>
        <br />
        <div id="textchang">
            <h2 id="kyoyook">4. 기타 취약부문</h2>
            <p id="text1">* 농산물 축산 : 원예시절 및 축사농가 대상 에너지 절감 자재 지원, 마을회관 및 경로당 등 공동 이용시설 단열 등 효율 향상</p>
            <p id="text1">* 어민 : 양식장 및 어선 등을 대상으로 에너지 효율화 추진 및 에너지 절감 설비 구축 지원</p>
            <p id="text1">* 중소기업 : 에너지 절감 효과가 좋은 설비 지원 물량 확대</p>
            <p id="text1">* 노후건물 : 에너지 공기업 주도로 취약 현장 방문 점검 및 컨설팅, 설비 교체 지원</p>
        </div>
    <button><a href="https://www.korea.kr/multi/visualNewsView.do?newsId=148922224#visualNews">상세자료</a></button>
</body>
</html>