<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/img/data/digital/digital.css">
    <title>sobok</title>
    <style>
        a{
            color: #000000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <main>
        <br />
        <div id="textchang">
            <h2 id="kyoyook">저소득충 추가 국민지원금 지급 안내</h2>
            <p id="text1">* 저소득층 296만명에게 1인당 10만원씩 추가 국민지원금 지급</p>
            <p id="text1">* 별도 신청 없이 기존 복지급여 계좌로 일괄 지급</p>
            <p id="text1">* 기초 생활보장 생계 및 주거급여, 차상위장애인연금, 아동양육비지원 한부모가족, 차상위장애(아동) 수당 대상 지급</p>
        </div>
    </main>
</body>
</html>