<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/img/data/digital/digital.css">
    <title>sobok</title>
    <style>
        a{
            color: #000000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <br />
    <div id="textchang">
        <h2 id="kyoyook">위험에 처한 탈북민… 취약층 47% ‘정서 불안’ 25% ‘생계 고통’</h2>
        <p id="text1">* 정부가 한반도 종전선언을 추린하고 있지만, 자유를 찾아 한국에 온 북한 이탈주민이 1년 만에 다시 동부전선 최전방 철책을 넘어 월북</p>
        <p id="text1">* 공개된 북한이탈주민 취약계층 조사 결과에 따르면 탈북민 가운데 취약계층으로 분류된 조사대장들 중 약 47%는 정서적이나 심리적인 부문에서 어려움을 겪고 있다고 응답</p>
        <p id="text1">* 통일부는 이번 조사 결과를 바탕으로 탈북민들에게 지역 내 하나센터를 통해 정서적이나 심리적 지원 등을 추진</p>
        <p id="text1">* 탈북청소년들의 교육열 증가는 최근 10년간 한국에 들어오는 북한이탈주민의 탈북 사유와 연결돼 있는 것으로 풀이</p>
    </div>
    <button><a href="https://www.segye.com/newsView/20220106515353">상세자료</a></button>
</body>
</html>