<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/img/data/digital/digital.css">
    <title>sobok</title>
    <style>
        a{
            color: #000000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <main>
        <h1 id="kiosk">취약계층 생계지원 추가 대책.</h1>
        <div id="textchang">
            <h2 id="kyoyook">1. 무급 휴업 및 휴직근로자 생활 안정을 지원합니다.</h2>
            <p id="text1">* 지역 고용 대응 등 특별지원사업 : 광역지자체별 생활 안정지원, 총 10만명에게 최대 2개월동안 월 50만원 지급</p>
            <p id="text1">* 긴급복지지원 : 가구당 월평균 65만원 지급</p>
        </div>
        <br />
        <div id="textchang">
            <h2 id="kyoyook">2. 특고, 프리랜서의 생계를 지원합니다.</h2>
            <p id="text1">* 지역 고용 대응 등 특별지원사업 : 총 10만명에서 최대 2개월동안 월 50만원 지급</p>
            <p id="text1">* 긴급복지지원 : 가구당 월평균 65만원 지급</p>
            <p id="text1">* 구직촉진수당 요건 완화 : 총 16000명에게 최대 3개월동안 월 50만원 지급, 취.성.패 참여자의 구직활동 범위 확대 -> 더 많은 분들에게 수당 지원</p>
        </div>
        <br />
        <div id="textchang">
            <h2 id="kyoyook">3. 건설 일용근로자에게 긴급 생활 안정 자금을 지원합니다.</h2>
            <p id="text1">* 긴급 생활 안정 자금 융자 신설 : 총 87000명에게 4개월동안 최대 200만원 무이자로 지급 - 퇴직 공제 적립일수 252일 이상이면서 최대 200만원 적립금액 100만원 이상 근로자</p>
        </div>
        <br />
        <div id="textchang">
            <h2 id="kyoyook">4. 소상공인의 경영회복을 돕습니다.</h2>
            <p id="text1">* 점포 재개장 : 189000 개소에 최대 300만원 지급 - 코로나10 피해점포 제출서류 간소화 등을 통해 재개장 비용지원</p>
            <p id="text1">* 사업정리 자원 : 19000원 개소에 최대 200만원 지급 - 특별재난지역 중심으로 사업정리 컨설팅, 점포철거비 지원</p>
            <p id="text1">* 재기 지원 : 교육 컨설팅, 재창업 자금 및 보증 등 지원 - 금융위, 법무부, 복지부 등 기관 협업으로 신속처리</p>
        </div>
        <br />
        <div id="textchang">
            <h2 id="kyoyook">5. 청년 구직활동지원금 지급요건을 완화합니다.</h2>
            <p id="text1">* 총 50000명에게 최대 6개월간 월 50만원 지급</p>
            <p id="text1">* 청년 구직활동지원금X취.성.패 연속활용할 수 있도록 개선</p>
        </div>
        <br />
        <div id="textchang">
            <h2 id="kyoyook">6. 노인 일자리 활동비 선지급됩니다.</h2>
            <p id="text1">* 공익활동 참여자 : 543000명에게 27만원 지급</p>
            <p id="text1">* 소속기관에서 대상자에게 유선 연락할 예정</p>
            <p id="text1">* 중앙대책본부 권고 후 대부분 사업이 중단된 상황을 고려해 희망자를 대상으로 지원</p>
        </div>
        <button><a href="https://www.korea.kr/multi/visualNewsView.do?newsId=148871081&pageIndex=null#visualNews">자료출처</a></button>
    </main>
</body>
</html>