<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/img/data/digital/digital.css">
    <title>sobok</title>
    <style>
        a{
            color: #000000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <br />
    <div id="textchang">
        <h2 id="kyoyook">밀알복지재단 위기가정 및 가족돌봄 청소년·청년 지원사업 안내</h2>
        <p id="text1">* 경제적 조건 : 중위소득 100% 이하인 가구 즉 기초생활수급가정, 차상위계층, 저소득 계층에게만 지원 가능</p>
        <p id="text1">* 심리사회적 조건 : 생계, 의료 주거의 위기에 놓인 대상자나 해당 지자체, 복지관 병원 등 유관기관에서 추천한 대상자나 제도적 지원의 사각지대에 놓인 대상자</p>
        <p id="text1">* 우대 조건 : 만 12세 미만 영유아 및 아동을 양육하고 있는 가정, 만 13 ~ 34세의 청소년 및 청년 중 부양해야할 가족이 있는 가정, 응급수술이 필요한 가정, 한부모가정 이나 미혼모 가정이나 조손가정이나 소년소녀가장</p>
    </div>
    <button><a href="https://blog.naver.com/buk_daegu/223319610849">상세자료</a></button>
</body>
</html>