html, body {
    margin: 0;
}

header {
    height: 2.60vw; /* 50px */
    position: relative;
    background-color: #FF783E;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

header > img {
    position: absolute;
    height: 1.30vw; /* 25px */
    width: 5.31vw; /* 102px */
    top: 0.65vw; /* 25% of 2.60vw */
    left: 0.89vw; /* 17px */
}

#nav {
    display: flex;
    position: absolute;
    left: 10.42vw; /* 200px */
}

#nav > a {
    height: 2.60vw; /* 50px */
    line-height: 2.60vw; /* 50px */
    margin: 0;
    font-size: 1.04vw; /* 20px */
    margin-right: 2.97vw; /* 57px */
    text-decoration: none;
    color: #fff;
}

#now > p {
    text-decoration: underline;
}

#nav > a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}
/* ------------------------------------------------- */

#data1{
    width:541px;
    height:540px;
    background-color:orangered;
    display: flex;
    top: 160px;
    left: 155px;
    position: absolute;
    border:solid 1.5px orange;
}
#data2{
    width:539px;
    height:240px;
    background-color:white;
    display: flex;
    top: 160px;
    left: 755px;
    position: absolute;
    border:solid 1.5px orange;
}
#data3{
    width:240px;
    height:240px;
    background-color:#C9C9C9;
    display: flex;
    top: 460px;
    left: 755px;
    position: absolute;
    border:solid 1.5px orange;
}
#data4{
    width:240px;
    height:240px;
    background-color:#C9C9C9;
    display: flex;
    top: 460px;
    left: 1055px;
    position: absolute;
    border:solid 1.5px orange;
}
#data5{
    width:240px;
    height:240px;
    background-color:orangered;
    display: flex;
    top: 760px;
    left: 155px;
    position: absolute;
    border:solid 1.5px orange;
}

#data6{
    width:240px;
    height:240px;
    background-color:#C9C9C9;
    display: flex;
    top: 760px;
    left: 455px;
    position: absolute;
    border:solid 1.5px orange;
}

#data7{
    width:240px;
    height:240px;
    background-color:#C9C9C9;
    display: flex;
    top: 1060px;
    left: 155px;
    position: absolute;
    border:solid 1.5px orange;
}

#data8{
    width:240px;
    height:240px;
    background-color:#C9C9C9;
    display: flex;
    top: 1060px;
    left: 455px;
    position: absolute;
    border:solid 1.5px orange;
}

#data9{
    width:541px;
    height:540px;
    background-color:#C9C9C9;
    display: flex;
    top: 760px;
    left: 755px;
    position: absolute;
    border:solid 1.5px orange;
}

#downsodek{
    width:100%;
    height:520px;
}

#downsodektext{
    top: 522px;
    position: absolute;
    color:white;
    left:240px;
}

#jange1{
    position: absolute;
    left:35px;
    top:10px
}
#jange2{
    position: absolute;
    left:35px;
    top:40px
}
#jange3{
    position: absolute;
    left:35px;
    top:70px
}
#jange4{
    position: absolute;
    left:35px;
    top:100px
}
#talbookin{
    width:541px;
    height:540px;
}
#jangetext{
    top: 230px;
    right:150px;
    position: absolute;
    left:240px;
    font-size:5px;
}
#goryeong{
    width:539px;
    height:240px;
}
#small{
    width:240px;
    height:240px;
}
