<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoBok</title>
    <link rel="icon" href="{{ url_for('static', filename='img/main/shortlogo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='guide.css') }}">
    <style>
        /* 기본 스타일 */
        nav div {
            cursor: pointer;
            padding: 10px;
            margin: 5px;
        }

        /* 클릭된 버튼의 스타일 */
        .active {
            background-color: #FF783E;
            color: white;
        }
    </style>
</head>
<body>
    <div class="header">
        <header>
            <img src="{{ url_for('static', filename='img/guide/SoBok.png') }}" alt="SoBok">
            <div id="nav">
                <a href="/"><p>홈</p></a>
                <a href="/guide" id="now"><p>공문:안내</p></a>
                <a href="/data"><p>자료실</p></a>
                <a href="/community"><p>커뮤니티</p></a>
                <a href="/chatbot"><p>ChatBot</p></a>
            </div>
        </header>
    </div>

    <nav>
        <div id="income">저소득층</div>
        <div id="disabled">장애인</div>
        <div id="single">한부모</div>
        <div id="children">다자녀</div>
        <div id="multicultural">다문화</div>
        <div id="old">고령층</div>
    </nav>

    <main>
        <div id="content-income" class="content" aria-live="polite">
            <table>
                <tr>
                    <th>지원내용</th>
                    <th>비고</th>
                </tr>
                <tr>
                    <td>
                        주민세 비과세(개인균등할 비과세)<br>
                        -(지원대상) 생계 · 의료 · 주거 · 교육급여 수급자<br>
                        -(관련근거) [지방세법] 제75조제1항제1조<br>
                    </td>
                    <td>시 · 군 · 구에서 일괄 면제</td>
                </tr>
                <tr>
                    <td>
                        TV수신료 면제(월 수신료 면제)<br>
                        -(지원대상) 생계 · 의료급여 수급자(주거 · 교육급여 수급자는 제외)<br>
                        -(관련근거) [방송법 시행령] 제44조제1항제1호<br>
                    </td>
                    <td>한국전력공사(국번없이 123)<br>KBS수신료콜센터(1588-1801)</td>
                </tr>
                <tr>
                    <td>
                        전기요금 할인<br>
                        -(지원대상)(여름철:6.1~8.31)<br>
                        *생계 · 의료급여 수급자 : 월 16,000원 한도(해당월 전기요금, 7월 · 8월 여름철 2만원)<br>
                        *주거 · 교육급여 수급자 : 월 10,000원 한도(해당월 전기요금, 7월 · 8월 여름철 12천원)<br>
                        -(관련근거) 한국전력공사 기본공급약관시행세칙 제48조제6항
                    </td>
                    <td>한국전력공사(국번없이 123)</td>
                </tr>
                <tr>
                    <td>
                        (지원대상)<br>
                        -생계･의료급여수급자 : 기본료 또는 월정액(26,000원 한도) 면제 ⦁음성통화료, 데이터 통화료 각각 50% 감면<br>
                        단, 통화료는 기본료 또는 월정액 면제금액과 음성통화료, 데이터 통화료 사용액 합하여 41,000원 한도로 상기 감면을 적용<br>
                        -주거･교육급여 수급자 : 기본료 또는 월정액 (11,000원 한도) 면제 ⦁11,000원을 초과하는 기본료 또는 월정액, 음성통화료, 데이터 통화료 각국 35% 감면(최대 감면액 30,000원)<br>
                        (관련근거) 「전기통신사업법 시행령」 제2조, 「보편적역부손실보전금 산정방법 등에 관한 기준」제4조
                    </td>
                    <td>과학기술정보통신부 홈페이지<br>참고</td>
                </tr>
                <tr>
                    <td>
                        주민등록증 재발급, 주민등록 등 · 초본 발급 수수료 면제<br>
                        (지원대상) 생계 · 의료 · 주거 · 교육급여 수급자<br>
                        (관련근거) [주민등록법 시행규칙] 제18조제2호
                    </td>
                    <td>읍 · 면사무소 또는 동주민센터</td>
                </tr>
                <tr>
                    <td>
                        교통안전공단 자동차 검사소(출장검사장 포함)자동차 정기 및종합검사 수수료 면제<br>
                        지원대상 : 생계 · 의료급여 수급자(보장시설수급자, 주거 · 교육급여수급자는 제외)
                    </td>
                    <td>교통안전공단(1577-0990)</td>
                </tr>
                <tr>
                    <td>기타 상수도 및 하수도 요금 감면, 종량제폐기물 수수료 감면 등</td>
                    <td>지자체별 조례에 따라 지원</td>
                </tr>
            </table>
            <div id="linkbox">
                <button>
                    <a href="https://www.mohw.go.kr/menu.es?mid=a10708010800">
                        <h>보건복지부 정책 보러가기</h>
                    </a>
                </button>
            </div>
        </div>
        <div id="content-disabled" class="content" aria-live="polite">
            <ul>
                <li>
                    <p>목적</p>
                    <ul><li><p>신체적 : 정신적 사유로 일상생활과 사회생활을 하기 어려운 장애인에게 활동지원서비스를 제공함으로써, 장애인의<br>자립생활을 지원하고 가족의 부담을 줄여 장애인의 삶의 질 향상</p></li></ul>
                </li>
                <br>
                <li>
                    <p>서비스대상</p>
                    <ul>
                        <li>
                            <p>만 6세 이상 만 65세 미만의 장애인복지법 상 등록장애인</p>
                            <ul><li><p>장애인복지법 상 서비스 지원 종합조사 결과에 따라 산출된 종합점수 42점 이상</p></li></ul>
                        </li>
                        <li>
                            <p>지원시간</p>
                            <ul>
                                <li>활동지원급여 : 활동지원등급에 따라 지원</li>
                                <table>
                                    <tr>
                                        <th>활동지원 급여의 구간</th>
                                        <th>종합점수</th>
                                        <th>월한도액(원)</th>
                                    </tr>
                                    <tr>
                                        <th>1구간</th>
                                        <td>465점 이상</td>
                                        <td>7,754,000</td>
                                    </tr>
                                    <tr>
                                        <th>2구간</th>
                                        <td>435점 이상 ~ 465점 미만</td>
                                        <td>7,269,000</td>
                                    </tr>
                                    <tr>
                                        <th>3구간</th>
                                        <td>405점 이상 ~ 435점 미만</td>
                                        <td>6,785,000</td>
                                    </tr>
                                    <tr>
                                        <th>4구간</th>
                                        <td>375점 이상 ~ 405점 미만</td>
                                        <td>6,301,000</td>
                                    </tr>
                                    <tr>
                                        <th>5구간</th>
                                        <td>345점 이상 ~ 375점 미만</td>
                                        <td>5,816,000</td>
                                    </tr>
                                    <tr>
                                        <th>6구간</th>
                                        <td>315점 이상 ~ 345점 미만</td>
                                        <td>5,332,000</td>
                                    </tr>
                                    <tr>
                                        <th>7구간</th>
                                        <td>285점 이상 ~ 315점 미만</td>
                                        <td>4,845,000</td>
                                    </tr>
                                    <tr>
                                        <th>8구간</th>
                                        <td>255점 이상 ~ 285점 미만</td>
                                        <td>4,362,000</td>
                                    </tr>
                                    <tr>
                                        <th>9구간</th>
                                        <td>225점 이상 ~ 255점 미만</td>
                                        <td>3,878,000</td>
                                    </tr>
                                    <tr>
                                        <th>10구간</th>
                                        <td>195점 이상 ~ 225점 미만</td>
                                        <td>3,393,000</td>
                                    </tr>
                                    <tr>
                                        <th>11구간</th>
                                        <td>165점 이상 ~ 195점 미만</td>
                                        <td>2,909,000</td>
                                    </tr>
                                    <tr>
                                        <th>12구간</th>
                                        <td>135점 이상 ~ 165점 미만</td>
                                        <td>2,424,000</td>
                                    </tr>
                                    <tr>
                                        <th>13구간</th>
                                        <td>105점 이상 ~ 135점 미만</td>
                                        <td>1,940,000</td>
                                    </tr>
                                    <tr>
                                        <th>14구간</th>
                                        <td>75점 이상 ~ 105점 미만</td>
                                        <td>1,456,000</td>
                                    </tr>
                                    <tr>
                                        <th>15구간</th>
                                        <td>42점 이상 ~ 75점 미만</td>
                                        <td>971,000</td>
                                    </tr>
                                    <tr>
                                        <th>특례</th>
                                        <td>기존 수급자 중 구간외 (42점 미만)</td>
                                        <td>762,000</td>
                                    </tr>
                                </table>
                                <br>
                                <p>- 특별지원급여 : 생활환경(출산, 자립준비, 보호자 일시부재)에 따라 일시적으로 지원</p>
                                <br>
                                <table>
                                    <tr>
                                        <th>구분</th>
                                        <th>지급기간</th>
                                        <th>월 한도액</th>
                                    </tr>
                                    <tr>
                                        <th>출산 (유.사산)</th>
                                        <td>특별지원급여 개시일로부터 만 6개월이 되는<br>
                                            날이 속한 달까지</td>
                                        <td>1,294,000</td>
                                    </tr>
                                    <tr>
                                        <th>자립준비</th>
                                        <td>특별지원급여 개시일로부터 만 6개월이 되는<br>
                                            날이 속한 달까지</td>
                                        <td>325,000</td>
                                    </tr>
                                    <tr>
                                        <th>보호자 일시부재</th>
                                        <td>결혼, 사망, 지역사회보호자 및 기타 천재지변<br>
                                            등: 1개월 출산: 3개월 입원: 입원일수가 5일<br>
                                            이상인 달에 대해 1개월 단위로 최대 6개월</td>
                                        <td>325,000</td>
                                    </tr>
                                </table>
                                <p>* 출산, 자립준비는 사유발생일로부터 6개월이내, 보호자 일시부재는 사유발생일로부터 7일 이내에 신청하여야하며, 최초 추가급여<br>
                                    개시일이 속한 달의 1일부터 제공됨</p>
                            </ul>
                        </li>
                    </ul>
                </li>
                <br>
                <li>
                    <p>서비스내용 및 지원시간</p><br>
                    <ul>
                        <li>신체활동지원 : 목욕도움, 세면도움, 식사도움, 실내이동도움 등</li>
                        <li>가사활동지원 : 청소 및 주변정돈, 세탁, 취사 등</li>
                        <li>사회활동지원 : 등하교 및 출퇴근 보조지원, 외출 동행 등</li>
                        <li>방문목욕 : 가정방문 목욕제공</li>
                        <li>방문간호 : 간호, 진료, 요양상담, 구강위생 등</li>
                    </ul>
                </li>
                <br>
                <li>
                    <p>서비스신청</p><br>
                    <ul>
                        <li>
                            신청권자<br>
                            -본인, 친족 및 기타 관계인(대리인의 신분증)<br>
                            -사회복지전담 공무원(동의서 및 공무원 신분증)<br>
                            -특별자치도지사 · 시장 · 군수 · 구청장이 지정한 자(대리인지정서)<br>
                            -신청서 제출<br>
                            -주민등록상 주소지 읍 · 면 · 동 주민센터, 연금공단 전국 지사 신청접수 지원 가능<br>
                            -온라인( www.bokjiro.go.kr ) 신청 가능<br>
                        </li>
                        <br>
                        <li>
                            제출서류<br>
                            -사회보장급여(사회서비스이용권) 신청(변경)서<br>
                            -바우처카드 발급 신청서<br>
                            *(14세 미만 또는 지적·자폐성 장애인) 사회서비스 전용 국민행복카드 발급(재발급) 신청서, 사회서비스 전용 국민행복카드 발급을 위한 법정 대리인 동의서<br>
                            *(14세~18세 장애인) 발급을 원하는 카드사의 영업점에서 요구하는 서류<br>
                            *(19세 이상 장애인) 국민행복카드 상담전화를 위한 개인정보 제공동의서<br>
                            -가구원수 산정 및 확인을 위한 건강보험증 사본<br>
                            -본인부담금을 환급받을 본인 명의 계좌의 통장사본<br>
                            -기타 대상자별 해당하는 사항에 대한 추가제출서류<br>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="content-single" class="content" aria-live="polite">
            <ul>
                <li>
                    <b><h>개요</h></b>
                    <p>저소득 한부모가족의 아동양육비, 아동교육지원비, 생활보조금 등의 지원을 통해 아동의 건강한</p>
                    <p>성장과 가정의 생활안정 도모</p>
                </li><br><!-- br만추가 -->
                <li>
                    <b><p>지원대상</p></b>
                    <b><p>사별, 이혼 등에 의한 한부모가족으로 다음 조건을 모두 충족하는 자</p></b>
                    <ul>
                        <li>
                            <p>한부모가족증명서 발급대상</p>
                            <ul>
                                <li>
                                    <p>세대주인 모 또는 부가 18세 미만(취학 시 22세 미만)의 자녀를 양육하는 경우</p>
                                    <p>* 부모로부터 부양을 받지 못하는 18세 미만(취학 시 22세미만) 손자녀를 (외)조부 또는 (외)조</p>
                                    <p>모가 양육하는 조손가족 포함</p>
                                </li>
                                <li>
                                    <p>가족 소득인정액 기준 중위소득 63% 이하인 경우</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <br><!-- br만추가 -->
                    <table>
                        <tr>
                            <th>가구규모</th>
                            <th>2024년 중위소득</th>
                            <th>아동양육비 등 복지급여 지원, 한부모가족증명서 발급</th>
                        </tr>
                        <tr>
                            <th>2인 가구</th>
                            <td>3,682,609</td>
                            <td>2,320,044</td>
                        </tr>
                        <tr>
                            <th>3인 가구</th>
                            <td>4,714,657</td>
                            <td>2,970,234</td>
                        </tr>
                        <tr>
                            <th>4인 가구</th>
                            <td>5,279,913</td>
                            <td>3,609,845</td>
                        </tr>
                        <tr>
                            <th>5인 가구</th>
                            <td>6,695,735</td>
                            <td>4,218,313</td>
                        </tr>
                        <tr>
                            <th>6인 가구</th>
                            <td>7,618,369</td>
                            <td>4,799,572</td>
                        </tr>
                    </table>
                    <br> <!-- br만추가 -->
                </li>
                <li>
                    <b><p>지원내용</p></b>
                    <b><p>한부모가족증명서 발급 및 복지급여 지급(기준 중위소득 63% 이하)</p></b>
                    <br><!-- br만추가 -->
                    <table>
                        <tr>
                            <th>지원종류</th>
                            <th>지원대상</th>
                            <th>지원금액</th>
                        </tr>
                        <tr>
                            <th>아동 양육비</th>
                            <td>•소득인정액이 기준 중위소득 63% 이하인 가족의 18세 미만 자녀 <br> <!-- br 위치 수정 -->
                                단, 고등학교 재학(고3 12월까지) 중인 경우 22세 미만 자녀</td>
                            <td>4,799,572</td>
                        </tr>
                        <tr>
                            <th rowspan="3">추가 아동 양육비</th>  <!-- rowspan 추가 -->
                            <td>7,618,369</td>
                            <td>4,799,572</td>
                        </tr>
                        <tr>
                            <!-- <th>@#!</th> 삭제 -->
                            <td>7,618,369</td>
                            <td>4,799,572</td>
                        </tr>
                        <tr>
                            <!-- <th>@#!</th> 삭제 -->
                            <td>7,618,369</td>
                            <td>4,799,572</td>
                        </tr>
                        <tr>
                            <th>아동 교육 지원비 <br> (학용품비) </th> <!-- <th>아동 교육 지원비(학<br>용붐피)</th> -->
                            <td>7,618,369</td>
                            <td>4,799,572</td>
                        </tr>
                    </table>
                    <br><!-- br만추가 -->
                </li>
                <li>지원대상에서 제외되는 가구</li>
                <!-- ---------------------------------- 추가 -->
                <ul>
                    <li>
                        <p>아동양육비</p>
                        <ul>
                            <li><p>아동복지법에 의한 가정위탁양육보조금을 받는 경우</p></li>
                        </ul>
                    </li>
                    <li>
                        <p>아동교육지원비(학용품비)</p>
                        <ul>
                            <li><p>국민기초생활보장법에 의한 교육급여</p></li>
                            <li><p>장애인복지법에 의한 교육비 지원</p></li>
                            <li><p>긴급복지지원법에 의한 교육지원</p></li>
                        </ul>
                    </li>
                    <li>
                        <p>생활보조금</p>
                        <ul>
                            <li><p>국민기초생활보장법에 의한 생계급여를 지원받는 경우</p></li>
                            <li><p>긴급복지지원법에 의한 생계지원을 받는 경우</p></li>
                            <li><p>아동복지법에 의한 가정위탁양육보조금을 받는 경우</p></li>
                        </ul>
                    </li>
                </ul>
            </ul>
            <footer><button><a href="https://www.mogef.go.kr/sp/fam/sp_fam_f006.do">보러가기</a></footer></button>
    <!-- ---------------------------------- 추가 -->
        </div>
        <div id="content-children" class="content" aria-live="polite">
            <ul>
                <li>
                    <h>개요</h>
                    <p>자녀를 많이 두는 가족을 뜻하는 말. 나라마다 기준은 다르며 한국에서는 3자녀 이상을 다자녀로 보았지만 현재는</p>
                    <p>2자녀 이상부터 다자녀 혜택 가능</p>
                </li>
                <br>
                <li>
                    <p>한국에서의 다자녀</p>
                    <ul>
                        <li>
                            <p>1980년대 초반까지만 해도 대부분의 가정은 자녀 3명 이상은 기본으로 가짐</p>
                            <br>
                            <p>2000년대 ~ 2010년대에는 자녀 3명 이상 비율이 약간 늘었지만</p>
                            <p>2020년대는 자식 2명 이상 비율도 하락</p>
                        </li>
                    </ul>
                </li>
                <br>
                <li>
                    <h>혜택</h>
                    <p>전기요금 월 30% 할인</p>
                    <p>난방비 월 4000원 할인</p>
                    <p>고등학교 일부 입시 전형에서 다자녀 전형 (사회전배려자전형 등 이름은 다양함)</p>
                    <p>대학교 일부 전형에서 다자녀 전형 (대부분 3자녀, 가끔 4자녀가 조건인 대학도 있다)</p>
                    <p>한국장학재단에서 소득분위에 관계없이 취업 후 상환 학자금 대출 신청 가능 (본래는 소득분위 상위 20% 이내는 신청불가)</p>
                    <p>한국장학재단 장학금에서 국가장학금 1유형에 대해 다자녀 장학금으로 전환됨. 3자녀 이상 가정은 셋째에 한해 대학등록금이 지원, 2자녀는 차상위계층에 한해 둘째에게 대학등록금이 지원</p>
                    <p>다자녀 우대카드 발급</p>
                    <p>최근 정부는 다자녀 기준을 2명으로 바꿔 혜택 강화</p>
                </li>
                <br>
                <li>
                    <h>불이익</h>
                    <ul>
                        <li>
                            <p>한국장학재단의 취업 후 상환 학자금 대출 하나를 제외한 나머지 모든 경우에서 소득 분위 산정시 자녀 수를 고려하지 않아 매우 불리</p>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="content-multicultural" class="content" aria-live="polite">
            <ul>
                <li>
                    <h>개요</h>
                    <p>다문화주의란 한 국가 내에서 다양한 문화들이 공존하는 형태를 의미</p>
                    <p>문화의 우열을 가리지 않고 문화를 그대로 인정하고, 거기서 인류가 화합할 수 있을 거란 기대에서 시작</p>
                </li>
                <br>
                <li>
                    <p>동화주의와 다문화주의</p>
                    <ul>
                        <li>
                            <p>이민자나 귀화인이 많은 것이 항상 다문화와 직결되지는 않음</p>
                            <br>
                            <p>이만자를 많이 수용하더라도 그 이만자들 및 그 후손들이 현지의 문화에 동화한다면 그것은 엄밀히 따졌을 때 다문화로 볼 수 없음</p>
                            <p>그것은 하나의 문화로 이민자들을 수용하는 동화주의</p>
                        </li>
                    </ul>
                </li>
                <br>
                <li>
                    <h>현황</h>
                    <p>2019년 기준 전체 인구의 4.9%라는 수치는 사실 이민 1-2세대가 절반을 차지하는 호주나 미국은 물론이고 </p>
                    <p>순수 이민 2세로만 다문화 인구가 5%에 달하는 스웨덴, 7%에 달하는 독일과는 비교도 할 수 없었고, 8% 정도인 프랑스보다도 적은 수치</p>
                    <br>
                    <p>다만 가족 단위 이주가 많은 미국, 유럽과는 달리 한국은 개인 이민자, 결혼 이민자가 주류인 점에서도 상황이 많이 다름</p>
                    <p>서유럽과 비슷하게 가족 전체가 한국으로 이민오는 케이스도 점점 증가</p>
                    <br>
                    <p>세계화에 따라서 다문화인구, 결혼 이민자와 체류 외국인이 서서히 늘어나는 것은 사실</p>
                    <p>법무부의 출입국 및 외국인 정책통계월보에 따르면 체류 외국인의 60.4%가 수도권에 거주</p>
                    <br>
                    <p>국제결혼에 대한 단속과 규제가 강화되면서 2006년 이후로 2015년까지 국제결혼 건수와 전체 결혼 대비 국제결혼 비율은</p>
                    <p>둘다 꾸준히 감속추세</p>
                </li>
            </ul>
        </div>
        <div id="content-old" class="content" aria-live="polite">
            <ul>
                <li>참여대상
                    <ul>
                        <li>공공형 : 만 65세 이상 기초연금 수급자</li>
                        <li>
                            사회서비스형 : 만 65세 이상 사업 참여 가능자
                            <ul>
                                <li>
                                    사회서비스형은 일부 유형 만 60세 이상 사업참여 가능
                                </li>
                            </ul>
                        <li>시장형 : 만 60세 이상 사업 참여 가능자</li>
                    </ul>
                </li>
            </ul>
                <br>
                <li>사업유형</li>
                    <table>
                        <tr>
                            <th colspan="2">유형</th>
                            <th>정의</th>
                            <th>예시</th>
                        </tr>
                        <tr>
                            <th colspan="2">사회서비스형</th>
                            <td>노인의 경력과 활동역량을 활용하여 사회적 도움이 <br>
                                필요한 영역(지역사회 돌봄, 안전 관련 등)에 <br>
                                서비스를 제공</td>
                            <td>
                                가정 및 세대간 서비스, 취약계 층전문서비스,<br>
                                공공전문 서비스 (공공행정업무지원) 등
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">사회서비스형 선도모델</th>
                            <td>지역 사회가 보유한 자원과 기업 등의 외부자원을 <br>
                                활용하여 신규 노인일자리 아이템 개발, 창출</td>
                            <td>
                                돌봄,안전, 환경문제 등 지역사회가 당면한 현안을 <br>
                                해소하는 일자리 등
                            </td>
                        </tr>
                        <tr>
                            <th rowspan="4">시장형</th>
                            <th>시장형사업단</th>
                            <td>노인에게 적합한 업종 중 소규모 매장 및 전문 직종 <br>
                                사업단 등을 공동으로 운영하여 노인일자리 창출</td>
                            <td>식품제조 및 판매, 매장운영(실버카페), <br>
                                운송 (실버택배) 등</td>
                        </tr>
                        <tr>
                            <th>취업알선형</th>
                            <td>
                                일정 교육을 수료하거나 관련 업무능력 있는 자를<br>
                                수요처로 연계하여 근무기간에 대한 일정 임금을 <br>
                                지급받을 수 있는 일자리
                            </td>
                            <td>시험감독 보조, 경비원 시설관리자, 가사도우미 등</td>
                        </tr>
                        <tr>
                            <th>시니어인턴십</th>
                            <td>노인에게 기업 인턴 연계 후 인건비 지원 계속<br>
                                고용시 기업에 인건비 추가 지원</td>
                            <td>
                                한식조리, 매장관리원, 영화관 보조원, 자동차<br>
                                검사대행원 등
                            </td>
                        </tr>
                        <tr>
                            <th>고령자친화기업</th>
                            <td>
                                노인의 경륜을 활용하여 경쟁력을 갖추고 양질의 <br>
                                노인일자리를 창출할 수 있는 기업의 설립 및<br>
                                운영지원
                            </td>
                            <td>
                                공모심사에 따른 기업 모집
                            </td>
                        </tr>
                    </table>
                </li>
                <br>
                <li>수행기관
                    <ul>
                        <li>시 · 군 · 구 또는 수행기관(모집기관)에 관련서류를 제출 및 상담
                            <ul>
                                <li>
                                    참여신청서, 개인정보 수집 · 이용에 관한 동의서(자필서명), 해당 활동 관련 자격증 <br>
                                    사본(해당자에 한함) 등
                                    <ul>
                                        <li>수행기관 신청시 주민등록등본 첨부</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <br>
                <li>노인 일자리 및 사회활동 지원사업 참여방법
                    <ul>
                        <li>
                            수행기관 신청시 주민등록등본 첨부
                            <ul>
                                <li>
                                    관련 서류와 전산시스템(사회보장정보시스템, 새누리시스템)을 통한 <br>
                                    국민기초생활수급 여부 등 자격확인 후 참여자 선발기준에 따라 고득점자 순으로<br>
                                    선정(공익활동은 시 · 군 · 구 최종선발)
                                </li>
                            </ul>
                        </li>
                        <li>
                            참여자 선발(시 · 군 · 구 또는 수행기관)
                            <ul>
                                <li>
                                    관련 서류와 전산시스템(사회보장정보시스템, 새누리시스템)을 통한 <br>
                                    국민기초생활수급 여부 등 자격확인 후 참여자 선발기준에 따라 고득점자 순으로 <br>
                                    선정(공익활동은 시 · 군 · 구 최종선발)
                                </li>
                            </ul>
                        </li>
                        <li>
                            사업 참여
                            <ul>
                                <li>
                                    선발된 자는 사업별로 해당 협약서를 작성하거나 근로계약을 <br>
                                    체결하고 관련 교육 실시 후 사업 수행
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <br>
                <li>참여자 선발기준
                    <table>
                        <tr>
                            <th colspan="2">
                                유 형
                            </th>
                            <th>
                                선발 공통 기준
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                공익활동
                            </th>
                            <td rowspan="8">
                                <ul style="text-align: left;">
                                    <li>당해연도 만 65세 이상(일부유형 만60세 이상)</li>
                                    <li>건강상태 : 일할 수 있는 건강정도면 모두 가능</li>
                                    <li>세대주형태 : 노인독신가구 및 경제무능력자와 동거하는 노인 가구 우선</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                사회서비스형
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                사회서비스형 선도모델
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="4">
                                시장형
                            </th>
                            <th>
                                시장형사업단
                            </th>
                        </tr>
                        <tr>
                            <th>취업알선형</th>
                        </tr>
                        <tr>
                            <th>시니어인턴십</th>
                        </tr>
                        <tr>
                            <th>고령자친화기업</th>
                        </tr>
                    </table>
                </li>
                <br>
                <li>선발 제외
                    <ul>
                        <li>
                            국민기초생활보장법에 의한 생계급여 수급자
                            <ul>
                                <li>
                                    의료급여, 교육급여, 주거급여 수급자는 신청 가능
                                </li>
                            </ul>
                        </li>
                        <li>
                            국민건강보험 직장가입자(취업알선형 제외)
                            <ul>
                                사회서비스형 및 시장형사업단은 해당사업의 건강보험 직장가입자일 경우 해당 없음
                            </ul>
                        </li>
                        <li>
                            장기요양보험 등급 판정자 1~5등급, 인지지원등급
                        </li>
                        <li>
                            정부부처 및 지자체에서 추진하는 일자리 사업에 2개 이상 참여하고 있는 자
                            <ul>
                                <li>
                                    노인일자리 및 사회활동 지원사업 내 중복 참여 불가
                                </li>
                                <li>
                                    그 외 신청 제외자 해당 여부(실업급여 수급 이후 재참여 제한 등)는 <br>
                                    2023년 직접일자리 사업 중앙-지자체합동 지침에 따름
                                </li>
                            </ul>
                        </li>
                        <li>
                            국내 거주자 중 외국민은 국적 취득자(주민등록번호 소유자)에 한하여 참여 가능
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const buttons = document.querySelectorAll('nav div');
            const contents = document.querySelectorAll('.content');

            function removeActiveClass() {
                buttons.forEach(button => button.classList.remove('active'));
                contents.forEach(content => content.style.display = 'none');
            }

            buttons.forEach(button => {
                button.addEventListener('click', function() {
                    removeActiveClass();
                    this.classList.add('active');
                    const contentId = 'content-' + this.id;
                    document.getElementById(contentId).style.display = 'block';
                });
            });

            // 페이지 로드 시 첫 번째 버튼을 클릭한 상태로 설정
            buttons[0].click();
        });
    </script>
</body>
</html>
